* {
    box-sizing: border-box;
}

.quote {
    width: 100%;
    height: 200px;
    text-align: center;
}

.quote .text {
    margin-top: 10%;
    font-size: 50px;
}


.about-para .column {
    float: left;
    width: 50%;
    padding: 2%;
    text-align: justify;
}

.about-para .image {
    width: 600px;
}

/* Clear floats after the columns */
.about-para:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .about-para .column {
        width: 100%;
    }
}