#product-name {
    color: rgb(8, 56, 119);
    font-weight: bold;
    font-size: 1.3em;
}

#product-details {
    color: rgb(27, 79, 146);
    font-weight: 600;
    font-size: 1em;
}

.cart input[type="number"] {
    color: rgb(27, 79, 146);
    font-weight: 600;
    border: none;
    background-color: inherit;
}

.empty-cart {
    /* use javascript to switch display*/
    display: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(18, 119, 145);
    font-size: 26px;
}

.cart-item {
    /* display: none; */
    padding: 10px;
    margin: 0 2% 0 2%;
    border: 1px solid rgb(162, 209, 209);
    border-radius: 5px;
    height: 150px;
    margin-bottom: 5px;
}

.medicine-image {
    float: left;
    width: 20%;
}

.medicine-details {
    float: left;
}

.medicine-right {
    float: right;
}

.delete-item {
    border: none;
    outline: none;
    background-color: rgb(194, 18, 18);
    /* background-color: darkblue; */
    border-radius: 5px;
    padding: 2% 6% 2% 6%;
    color: white;
    font-weight: 600;
    width: 100px;
}

.delete-item:hover {
    background-color: rgb(216, 34, 34);
}

.checkout-section {
    border: 1px solid rgb(162, 209, 209);
    width: 350px;
    height: 330px;
    border-radius: 5px;
    padding: 5%;
    color: rgb(27, 79, 146);
    font-weight: 700;
    text-align: left;
}

.checkout-section span {
    float: right;
}

#checkout-btn {
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    background-color: rgb(58, 143, 143);
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: 500;
}

#checkout-btn:hover {
    background-color: rgb(67, 161, 161);
}

footer {
    position: relative;
    bottom: 0;
}