#product-name {
    color: rgb(8, 56, 119);
    font-weight: bold;
    font-size: 1.3em;
}

#product-details {
    color: rgb(27, 79, 146);
    font-weight: 600;
    font-size: 1em;
}

.cart input[type="number"] {
    outline: none;
    color: rgb(27, 79, 146);
    width: 50px;
    font-weight: 600;
    border: 2px solid rgb(58, 143, 143);
    background-color: inherit;
    border-radius: 5px;
    text-align: center;
}

.cart input[type="number"]:hover {
    border-color: rgb(108, 173, 173);
}

.empty-cart {
    /* use javascript to switch display*/
    display: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(18, 119, 145);
    font-size: 26px;
}

.cart-item {
    /* display: none; */
    padding: 10px;
    margin: 0 2% 0 2%;
    border: 1px dotted rgb(162, 209, 209);
    border-radius: 5px;
    height: 130px;
    margin-bottom: 5px;
}

.medicine-image {
    float: left;
    width: 20%;
}

.medicine-details {
    float: left;
}

.medicine-right {
    float: right;
}

.delete-item {
    display: block;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(194, 18, 18);
    /* background-color: darkblue; */
    border-radius: 5px;
    padding: 2% 6% 2% 6%;
    color: white;
    font-weight: 600;
    width: 100px;
}

.delete-item:hover {
    background-color: rgb(216, 34, 34);
}

.checkout-section {
    border: 2px solid rgb(162, 209, 209);
    width: 350px;
    height: 330px;
    border-radius: 5px;
    padding: 5%;
    color: rgb(27, 79, 146);
    font-weight: 700;
    text-align: left;
}

.checkout-section span {
    float: right;
}

#checkout-btn {
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    background-color: rgb(58, 143, 143);
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: 500;
}

#checkout-btn:hover {
    background-color: rgb(67, 161, 161);
}

.checkout-msg {
    font-size: 0.9em;
    color: rgb(0, 0, 95);
    font-weight: 400;
}

/* Media query for mobiles */
@media (max-width: 480px) {
    .cart-item {
        height: 200px;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .product-details {
        font-weight: normal;
        font-size: 0.9em;
    }

    .medicine-image {
        width: 30%;
        float: right;
    }

    .medicine-details,
    .medicine-right {
        float: none;
    }

    .delete-item {
        display: inline;
        float: right;
        width: 80px;
    }

    .checkout-section {
        border: 2px solid rgb(162, 209, 209);
        width: 100%;
        height: auto;
    }
}