body {
  /* background-image: linear-gradient(to right, #efffda, #ffffff); */
  background-image: linear-gradient(to right, #a3fdf2af, #f1f4f8);
  /* background-image: linear-gradient(to right, #f1f4f8, #a3fdf2af); */
}
.btn {
  background-color: #2e9af8;
  color: white;
}
.nav-bgcolor {
  background-color: #2e9af8;
}
.navbar-toggler {
  background-color: #2e9af8;
}
#acctTop {
}
.cartBtn {
  float: right;
}
#mobilenav {
}
/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {
  #headertop {
    display: none;
  }

  /* .nav-bgcolor {
    background-image: linear-gradient(to right, #efffda, #ffffff);
  } */
  .mobileMenu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: fixed;
    top: 0px;
    bottom: 0;
    margin: auto;
    left: 0;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    background-color: #2e9af8;
  }
  .mobileMenu.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .mobileMenu .navbar-nav {
    overflow-y: auto;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .overlay.open {
    display: block;
    z-index: 1029;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) {
  #accountSec {
    display: none;
  }
  #navhide {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
