/* ********************Product page************************ */


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width:800px) {

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

.button-container {
  background: #2e9af8;
  color: #fff;
  width: auto;
  height: 45px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
}

/* .card {
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
} */


.carousel-inner {
  width: 100 px;
  height: auto;
  text-align: center;
  background-color: white;
  border-radius: 5%;
  padding: 0;
  box-shadow: 0px 0px 13px 8px rgb(192 211 232);
}

/* .product-details {
  justify-content: space-evenly;
} */

/* anchor tags */
a:hover {
  color: blue;
  text-decoration: none;
  background-color: transparent;
}

a:active {
  color: brown;
  text-decoration: none;
  background-color: transparent;
}

/* @wali work on similar product page */
.productpage-similar-outerDiv {
  justify-content: space-evenly;
}


.productpageimage-main {
  height: 400px;
  width: 200px;

}

.productpage-similar {
  height: 300px;
  width: 20%;
  float: left;
  flex-wrap: nowrap;
  margin-top: 2%;
  padding: 0 0 0 0;
  text-align: center;
  background-color: transparent;
  border-radius: 5%;
  box-shadow: 0px 0px 13px 8px rgb(192 211 232);
}

.productpage-similar:hover {
  box-shadow: 0px 0px 13px 8px rgb(192 211 232);
}

.productpage-similar img {
  margin-top: 2px;
  height: 146px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}



@media only screen and (max-width:750px) {
  .productpageimage-main {
    height: 300px;
    width: auto;

  }

  .productpage-similar {
    height: 351px;
    width: 40%;
    float: left;
    flex-wrap: nowrap;
    margin-top: 2%;
    padding: 0 0 0 0;
    text-align: center;
    background-color: rgba(245, 240, 243, 0.582);
    border-radius: 10%;
  }

  .productpage-similar:hover {
    box-shadow: 0px 0px 13px 8px rgb(192 211 232);
  }

  .productpage-similar img {
    margin-top: 2px;
    height: 146px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
  }
}

/* reviews */
/* .ratings {
  width: 210px;
  text-align: center;
  border: 5px solid blue;
  border-radius: 10%;
} */


/* Add Quantity Button */
/* -- quantity box -- */

.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}




/* wishlist button */
.wishlist-btn {
  background-color: crimson;
}

.wishlist-btn:hover {
  background-color: red;
}

/* footer description */
.ft-dsc {
  display: flex;
  text-align: center;
}


/* footer section */

footer {
  background-color: #2e9af8;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  /* height: 100px; */
  color: white;
  text-align: center;
}

@media only screen and (max-width: 450px) {

  /* #main-footer .row{
     flex-direction: column
   } */
  #addresssection {
    order: 1;
  }

  #Copyrightsection {
    order: 3;
  }

  #footerSocialMedia {
    order: 2;
  }
}

/* end home page */

/* start search page */

/* end search page */