To remove unwanted horizontal whitespace from page

html,

body {
    width: 100%;
    overflow-x: hidden;
}


@media (max-width:800px) {

    /* To remove unwanted horizontal whitespace from page in mobile view */
   html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .search {
        width: 80%;
        margin-left: 40%;
        position: relative;
        display: flex;
    }

    .form-group {
        margin-left: 80%;
    }

    .submit {
        margin-left: 80%;
    }
}


/* search button */
.search {
    width: 100%;
    margin-left: 39%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 20%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/* form property */
.form-control {
    border: 1px solid #00B4CC;
}

.form-group {
    margin-left: 37%;
}

/* submit button */
.submit {
    margin-left: 50%;
}
