.cart-wrap {
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
}

.main-heading {
    font-size: 19px;
    margin-bottom: 20px;
}

.table-wishlist table {
    width: 100%;
}

.table-wishlist thead {
    border-bottom: 1px solid #455ef0;
    margin-bottom: 5px;
}

.table-wishlist thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 15px;
    font-weight: 400;
}

.table-wishlist tr td {
    padding: 25px 0;
    vertical-align: middle;
}

.table-wishlist tr td .img-product {
    width: 75px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}

.table-wishlist tr td .img-product img {
    width: 100%;
}

.table-wishlist tr td .name-product {
    font-size: 16px;
    color: #0c0202;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}

.table-wishlist tr td.price {
    font-weight: 600;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.round-black-btn {
    border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #212529;
    font-size: 14px;
}

.round-black-btn:hover,
.round-black-btn:focus {
    background: transparent;
    color: #212529;
    text-decoration: none;
}

.in-stock-box {
    background: #07cc21c9;
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    padding: 4px 15px;
    display: inline-block;
    color: rgb(17, 17, 17);
}

.trash-icon {
    font-size: 20px;
    color: #d41c04;
}

.trash-icon:hover {
    color: #fa4d36;
}