body {
  background-image: linear-gradient(to right, #efffda, #ffffff);
}
.btn {
  background-color: #1f8ceb;
  color: rgb(163, 43, 43);
}
.nav-bgcolor {
<<<<<<< Updated upstream
  background-color: #1f8ceb;
}
.navbar-toggler {
  background-color: #1f8ceb;
}
#acctTop {
}
.cartBtn {
  float: right;
}
#mobilenav {
=======
  background-color: #a4b92c;
>>>>>>> Stashed changes
}
/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {
  .accountSec {
    display: none;
  }
  .nav-bgcolor {
    background-image: linear-gradient(to right, #efffda, #ffffff);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 700px) {
  #accountSec {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
