.input-group-text{
    width: 145px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.table-widthset{
  width:50%;
  margin: auto;
}

#button-med-reg{
    float: right;
    margin-top: 10px;
}

#medicineRegisterpage{
  width: 50%;
  margin: auto;
}

#collapseAddchemicalClass{
  width: 50%;
  margin: auto;

}
#collapseAddManufacture{
  width: 50%;
  margin: auto;

}
#collapseAddtheraputicClass{
  width: 50%;
  margin: auto;

}
