.Search {
    width: 60%;
    margin: right;
    text-align: left;
    padding: top 100px;
    
}

h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: right;
    text-decoration: solid;
    font: 1em sans-serif;
    font-style: italic;
}

h4 {
    color: rgb(3, 3, 26);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align:right;
}

h5 {
    color:rgb(3, 3, 26);
    text-align: right;
}

/* .row {
    margin-top: 3%;
    margin: auto;
    display: flex;
    justify-content: space-between;
} */

.search-col1 {
    flex-basis: 50%;
    background: #8adeff;
    border-radius: 20px;
    margin-bottom: 10%;
    padding: 30px 12px;
    box-sizing: border-box;
    text-align: left;
    transition: 1s;
    font-size: medium;
    font-weight: 500;
    transition-property: all;

}

.search-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}